.body {
  background-color: #fffdfa;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 60%;
  margin-bottom: 50px;
  flex-direction: column;
  margin-top: 20px;

  .title {
    background-color: #ffcb48;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 70px;
    padding-left: 20px;
    font-size: 20px;
  }

  .nannyInfo {
    border: 2px solid #ff6144;
    border-radius: 30px;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    overflow: hidden;

    img {
      width: 200px;
    }

    div {
      margin: 0 30px;

      p {
        margin: 0;
      }
    }

    .btn2 {
      width: 30px;
      height: 30px;
      border: 2px solid #ff6144;
      border-radius: 20px;
      background-color: #ffffff;
      margin: 0 30px;
    }
  }

  .subtotal {
    background-color: #ffecbd;
    width: 400px;
  }

  .subtotalItem,
  .subtotalValue {
    padding: 0 40px;

    li {
      list-style: none;
      padding: 10px;
    }
    :last-child {
      margin-top: 20px;
      font-weight: 900;
    }
  }

  .checkoutBtn {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ffcb48;
    position: relative;
    left: 50px;
  }

  .checkoutBtn:hover {
    background-color: #ff6144;
  }
}
