footer {
  margin-top: 500px;
  background-color: #ffcb48;
  border-radius: 100px 100px 0 0;
  width: 100%;
  height: 1100px;

  ul {
    list-style-type: none;
    width: 200px;
    height: 300px;
    text-align: center;
    white-space: nowrap;
  }

  ul a {
    text-decoration: none;
    color: black;
  }

  ul li:first-child {
    font-size: 20px;
    font-weight: 900;
  }
  .footerLogoBox {
    height: 50%;
    img {
      width: 60%;
    }
  }
}
