nav {
  background-color: #ff6144;
}

.navbar {
  padding: 20px 30px;
}

.nav-link {
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  font-size: medium;
  white-space: nowrap;
  width: 120px;
  height: 50px;
  text-align: center;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #ffcb48;
  border-color: #ffffff;
  /* font-size: 28px;
  width: 210px;
  height: 80px; */
}

.nav-link:active {
  color: #ff4f30;
}

.searchArea {
  width: 120px;
  border-radius: 50px;
  border: 2px solid white;
  margin-top: 10px;
}

.searchArea:focus {
  width: 200px;
}
