/* body {
  background-color: #fffdfa;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 300px;
} */

.box {
  border: 2px solid #ffcb48;
  width: 60%;
  /* height: 1000px; */
}

.box .headLine {
  width: 100%;
  background-color: #ffcb48;
  margin: 0;

  p {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 70px 0 0;
  }
}

.Btnbox {
  width: 50%;
  flex-direction: column;
  padding-bottom: 50px;
  border-bottom: 3px solid #ff6144;
}

.Btnbox {
  p {
    margin-top: 50px;
    font-size: 25px;
  }

  .Btn {
    text-decoration: none;
    margin-top: 30px;
  }
}

.inputBox {
  flex-direction: column;

  p:first-child {
    /* margin-top: 50px; */
    font-size: 25px;
  }

  input {
    margin-top: 30px;
    padding: 10px;
    width: 300px;
    height: 60px;
    border: 1px solid #ff6144;
    border-radius: 20px;
  }

  button {
    margin: 30px 0 20px 0;
    color: white;
    width: 200px;
    height: 80px;
    background-color: #ff6144;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    font-size: larger;
  }

  button:hover {
    background-color: #ffcb48;
  }

  a {
    color: #ff6144;
  }
}
