.nannyPic img {
  border-radius: 10px;
}

.nannyName p {
  font-size: 30px;
  font-weight: 800;
  padding: 2% 0;
}

.introduce {
  border: 1px #ff6144 solid;
  border-radius: 20px;
  width: 70%;
  height: 200px;
  margin: 15px auto;
  padding: 2%;
}

.profile>div {
  padding: 2% 0;
}

.contactAndGetPrice {
  display: flex;
  justify-content: space-between;
  padding: 0 4% 4% 4%;
}

#contact {
  background-color: white;
  border-radius: 20px;
  border: 1px #ff6144 solid;
  width: 100px;
  height: 40px;
}

#getPrice {
  background-color: #ff6144;
  color: white;
  border: none;
  border-radius: 20px;
  width: 130px;
  height: 50px;
  margin-top: -10px;
}