body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

hr {
  margin: 80px 0;
  height: 5px;
  color: #ff6144;
  background-color: #ff6144;
  opacity: 1;
}

.nannySearch {
  flex-direction: column;

  .Title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    width: 60vw;
    height: 500px;
    border: 2px solid #ff6144;
    border-radius: 50px;

    div {
      width: 100%;
    }

    select {
      border: 2px solid #ffcb48;
      border-radius: 30px;
      width: 200px;
      height: 50px;

      text-align: center;
      appearance: none;
      background: url(./img/selectBar.png) no-repeat scroll 95% transparent;
    }

    button {
      width: 100px;
      height: 50px;
      border: 2px solid #ffcb48;
      border-radius: 30px;
      background-color: #ffffff;
    }

    button:hover {
      background-color: #ffcb48;
    }

    .labelGender {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      font-size: 18px;
    }
  }

  .searchGo {
    margin-top: 30px;
    width: 150px;
    height: 60px;
    background-color: #ff6144;
    border: 2px solid #ff6144;
    border-radius: 30px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .nannyInfo {
    border: 2px solid #ff6144;
    border-radius: 50px;
    margin-bottom: 20px;

    img {
      width: 250px;
    }

    div {
      p {
        margin: 0;
      }
    }
  }
}

.pageBtn {
  color: black;
  font-size: 20px;
  margin: 10px;
}

.discription {
  div {
    height: 200px;
  }
  img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}
