body {
  height: 200%;
}
.backPage img{
  max-width: 50px;
  width: 10px;
  min-width: 50px;
}
.nanny {
  margin: 50px 0 50px 50px;
}

.nannyPic img {
  border-radius: 30px;
  max-width: 100%;
  width: 150px;
  min-width: 100px;
  height: auto;
  margin-left: 30%;
}

.nannyName {
  font-size: 30px;
  font-weight: 800;
}

.reserveForm {
  border: 1px #ff6144 solid;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 4%;
}

.Subtotal {
  border-bottom: 2px #ff6144 solid;
  border-top: 3px #ff6144 solid;
  width: 100%;
}

.total {
  /* margin: 3%; */
  width: 100%;
}

.submitRequest button {
  width: 100px;
  height: 40px;
  background-color: #ff6144;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 30px 0 50px 0;
}

.custom-color {
  border: 1px solid #ffcb48;
  border-radius: 30px;
  padding: 10px 0;
}

.custom-button {
  border: 1px solid #ffcb48;
  background-color: white;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #ffcb48;
}