body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.nannySearch {
  flex-direction: column;

  .Title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    width: 60vw;
    border: 2px solid #ff6144;
    border-radius: 50px;

    div {
      width: 100%;
    }

    .date {
      border: 2px solid #ffcb48;
      border-radius: 30px;
      width: 200px;
    }

    button {
      width: 100px;
      height: 50px;
      border: 2px solid #ffcb48;
      border-radius: 30px;
      background-color: #ffffff;
    }

    button:hover {
      background-color: #ffcb48;
    }

    .labelGender {
      text-align: center;
      font-size: 18px;
    }

    select,
    .textInput {
      border: 2px solid #ffcb48;
      border-radius: 30px;
      width: 80%;
      height: 60px;
    }
  }

  hr {
    height: 5px;
    color: #ff6144;
    background-color: #ff6144;
    opacity: 1;
  }

  .send {
    width: 150px;
    height: 60px;
    background-color: #ff6144;
    border: 2px solid #ff6144;
    border-radius: 30px;
    color: white;

    margin: 100px 0;
  }

  .send:hover {
    color: #ff6144;
    background-color: #ffffff;
  }
}
