body {
    overflow-x: hidden;
}

.topic {
    text-align: center;
    margin: 35px 0 40px 0;
    font-weight: 900;
}

.custom-button {
    border-radius: 20px;
    background-color: #FFF;
    color: rgb(0, 0, 0);
    border: 1px solid #ffcb48;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #ffcb48;
}

.searchNannyFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchNannyForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px red solid;
    height: 600px;
    border-radius: 30px;
}

.NannyFormOption {
    display: flex;
    justify-content: space-around;
}

.gender {
    text-align: center;
    margin-bottom: -30px;
    font-weight: 900;
}

.reservation {
    text-align: center;
    margin-bottom: -30px;
    font-weight: 900;
}

.chooseDate {
    border: #ffcb48 1px solid;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
}

.searchNannyButton {
    margin: 20px 0 50px 0;
}

.searchNannyButton button {
    border-radius: 30px;
    width: 150px;
    height: 50px;
    background-color: #ff6144;
    border: none;
    color: white;
}

.chooseNannyContainer {
    border-bottom: 3px solid #ff6144;
    border-top: 3px solid #ff6144;
    width: 90%;
    margin: 0 auto;
}

.NannyFormOption p {
    margin: 10px;
}

.selectCity {
    border: 1px solid #ffcb48;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    margin: 10px 0 30px 0;
}

.nannySort {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}

.nannySort p {
    margin: 0px 20px 0 0;
}

.nannySort select {
    width: 150px;
    text-align: center;
}

.choosepage {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.choosepage a {
    margin: 0px 10px;
    text-decoration: none;
}

.choosepage img {
    margin: 0px 50px 50px 50px;
    width: 40px;
}

.recommendCardDiv {
    display: flex;
    justify-content: space-around;
}

.recommendCard {
    border: 1px solid gray;
    border-radius: 30px;
}

.recommendCardText {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-top: 1px solid gray;
    height: 200px;
    width: 150px;
}

.startAndcomment {
    display: flex;
    justify-content: space-around;
}

.nameAndPrice {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nannyCard {
    border: 2px solid #ff6144;
    border-radius: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

.cardImg {
    margin-right: 15px;
}

.nameStarRecommend {
    text-align: left;
}
