.backPage img{
  max-width: 50px;
  width: 10px;
  min-width: 50px;
}
.petPic{
  /* width: 40%; */
  object-fit:none;
  /* background-color: #ffcb48; */
}
.petPic img{
  object-fit: contain;
  width: 60%;
  border-radius: 30px;
  margin:50px 0  0 20%;
}
.willingness{
  margin: 20px 10px 0 150px;
}
.willingness button{
  background-color: #ffcb48;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  border: none;
  color: white;
}