<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>寵樂 - 登錄頁面</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="./login.css" />
  </head>

  <body>
    <div class="box">
      <div class="headLine d-flex align-items-center row">
        <a class="col-1" href="./pay.html"><img src="./img/goback.png" /></a>
        <p class="col-11 d-flex justify-content-center align-items-center">
          登錄 / 註冊
        </p>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <div class="Btnbox d-flex justify-content-center align-items-center">
          <p>使用外部帳號快速登入</p>

          <a class="Btn" href="">
            <img src="./img/fbBtn.png" style="width: 250px" />
          </a>

          <a class="Btn" href="">
            <img src="./img/appleBtn.png" style="width: 250px" />
          </a>
        </div>
      </div>

      <div class="inputBox d-flex justify-content-center align-items-center">
        <p>登入帳號密碼</p>
        <input type="text" placeholder="請輸入Email" />
        <input type="text" placeholder="請輸入密碼" />
        <button>登入</button>
        <p>還沒有帳號嗎？</p>
        <a href="">註冊</a>
      </div>
    </div>
  </body>
</html>
